.center {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}

.maincl{


    align-items: center;
    justify-content: center;
     
}

.contain {
     
     display: flex;
    align-items: center;
    justify-content: center;
  }