.mainclass{
    background-color: bisque;
}

.containerTitle {
    
   /* display: flex; */
    align-items: center;
    justify-content: center;
 /*   flex-direction: column; */
}

.containerTotal {
    
     display: flex; 
     align-items: right;
     justify-content: center;
  /*   flex-direction: column; */
 }

.textstyle {
 font-size: 1.2rem;
 font-weight: 500;
}

.scrollcontainer {
   padding: 5px;
    
   height: 410px;
   overflow-x: hidden;
   overflow-y: auto;
}